.Pokedex{
    text-align: center;
}
.Pokedex-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Pokedex-isWinner{
    color: green;
}
.Pokedex-isLoser{
    color: red;
}